:root {
  --main-bg-color: #ffffff;
  --span-bg-color: #bdbdbd;
  --btn-bg-color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
}

@media (max-width: 450px) {
  body {
    max-width: 375px;
  }
}
